.board {
    margin: 0 auto;
    width: 800px;
}

.square {
    width: 100px;
    min-height: 100px;
    /* color: silver; */
}

.white {
    background-color: green;
    color: white;
}

.black {
    background: green;
    color: black;
}